In [35]:
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
peg = pd.read_csv('./Downloads/midterm-practice/penguins-data.csv')

In [37]:
peg = peg.loc[:, ~peg.columns.str.contains('^Unnamed')]

In [38]:
peg.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
5,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
6,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
7,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
8,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
9,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE

In [39]:
peg['species'].value_counts()

Adelie       146
Gentoo       119
Chinstrap     68
Name: species, dtype: int64

In [40]:
peg.groupby('island')['species'].value_counts()

island     species
Biscoe     Gentoo       119
           Adelie        44
Dream      Chinstrap     68
           Adelie        55
Torgersen  Adelie        47
Name: species, dtype: int64

In [41]:
peg.groupby('species')['bill_length_mm','bill_depth_mm', 'flipper_length_mm'].median()

<ipython-input-41-22133acc8afb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  peg.groupby('species')['bill_length_mm','bill_depth_mm', 'flipper_length_mm'].median()

           bill_length_mm  bill_depth_mm  flipper_length_mm
species
Adelie              38.85          18.40              190.0
Chinstrap           49.55          18.45              196.0
Gentoo              47.40          15.00              216.0

In [42]:
peg.groupby('species')['bill_length_mm','bill_depth_mm', 'flipper_length_mm'].describe().loc[:,(slice(None),['mean','std'])]

<ipython-input-42-d9801bf4c323>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  peg.groupby('species')['bill_length_mm','bill_depth_mm', 'flipper_length_mm'].describe().loc[:,(slice(None),['mean','std'])]

          bill_length_mm           bill_depth_mm           flipper_length_mm  \
                    mean       std          mean       std              mean
species
Adelie         38.823973  2.662597     18.347260  1.219338        190.102740
Chinstrap      48.833824  3.339256     18.420588  1.135395        195.823529
Gentoo         47.568067  3.106116     14.996639  0.985998        217.235294


                std
species
Adelie     6.521825
Chinstrap  7.131894
Gentoo     6.585431