In [94]:
# Imports Library
import pandas as pd


# Utils Functions
def load_data(file: str):
    df = pd.read_csv(f"data/{file}.csv")
    return df

# CAR-SALES dataset

Dữ liệu `car-sales.csv`: bộ dữ liệu chứa thông tin các ôtô cũ ở một cửa hàng bán ô tô cũ. 

Bạn hãy thực hiện các yêu cầu sau:

### 1. Đọc dữ liệu và cho biết dữ liệu có bao nhiêu dòng, bao nhiêu cột

Đáp án: (10 dòng, 5 cột)

In [95]:
df = load_data("car-sales")

row, col = df.shape

f'{row} dòng, {col} cột'

'10 dòng, 5 cột'

### 2. Cho biết thuộc tính nào là thuộc tính phân loại, thuộc tính nào là thuộc tính định lượng

In [96]:
df.dtypes

Manufacturer     object
Colour           object
Odometer          int64
Doors             int64
Price           float64
dtype: object

### 3. Trong dữ liệu có thông tin của bao nhiêu xe?

Đáp án: 10 xe

In [97]:
f'{df["Manufacturer"].count()} xe'

'10 xe'

### 4. Đếm số xe theo theo hãng

Đáp án: Toyota: 10 xe, Honda: 3 xe, Nissan: 2 xe, BMW: 1 xe

In [98]:
df["Manufacturer"].value_counts()

Toyota    4
Honda     3
Nissan    2
BMW       1
Name: Manufacturer, dtype: int64

### 5. Đếm số xe theo màu

In [99]:
# Your code here
df["Colour"].value_counts()

White    4
Blue     3
Black    1
Green    1
Red      1
Name: Colour, dtype: int64

### 6. Tổng giá trị các xe trong cửa hàng

Đáp án: 76450 USD

In [100]:
f'{df["Price"].sum():.0f} USD'

'76450 USD'

### 7. Top 3 xe có giá cao nhất

In [101]:
df.nlargest(3, "Price")

  Manufacturer Colour  Odometer  Doors    Price
3          BMW  Black     11179      5  22000.0
9       Nissan  White     31600      4   9700.0
6        Honda   Blue     45698      4   7500.0

### 8. Top 3 xe đã chạy nhiều cây số (km)nhất (Odometer)

Đáp án:
- Xe Nissan, White, 213095 km
- Xe Toyota, White, 150043 km
- Xe Toyota, Green, 99213 km

In [102]:
df.nlargest(3, "Odometer")

  Manufacturer Colour  Odometer  Doors   Price
4       Nissan  White    213095      4  3500.0
0       Toyota  White    150043      4  4000.0
5       Toyota  Green     99213      4  4500.0

### 9. Khảo sát xe của hãng Honda

- Tính tỷ lệ xe Honda trong dữ liệu của cửa hàng (0.3)
- Cho biết giá trung bình của xe hãng Honda của cửa hàng (6500)
- Cho biết các xe của hãng Honda trong cửa hàng có những màu sắc nào (Red, Blue)

In [103]:
df[df["Manufacturer"] == "Honda"]["Price"].count() / df["Price"].count()

0.3

In [104]:
round(df[df["Manufacturer"] == "Honda"]["Price"].mean())

6500

In [105]:
tuple(df[df["Manufacturer"] == "Honda"]["Colour"].unique())

('Red', 'Blue')

# 10. Tính toán các giá trị sau của  thuộc tính giá ('Price')

- Giá trung bình các xe (7645)
- Giá trị trung vị các xe (6625)
- Miền giá trị của xe (18500)
- Miền phân vị của xe (2750)
- Điểm phân vị 0.4 và 0.6 của giá ([5750, 7000])

In [106]:
round(df["Price"].mean())

7645

In [107]:
round(df["Price"].median())

6625

In [108]:
round(df["Price"].max() - df["Price"].min())

18500

In [109]:
round(df["Price"].quantile(0.75) - df["Price"].quantile(0.25))

2750

In [110]:
list(map(round,df["Price"].quantile([0.4, 0.6])))

[5750, 7000]

---

# TIPS dataset

Dữ liệu chứa trong file `tips.csv` chứa thông tin tiền tip của khách hàng tại một nhà hàng. Dữ liệu có các thông tin sau:

- `total_bill`: tổng hoá đơn (USD)
- `tip`: tiền tip/ tiền boa (USD)
- `sex`: giới tính người thanh toán hóa đơn
- `smoker`: có hút thuốc hay không
- `day`: ngày trong tuần
- `time`: thời gian dùng bữa(buổi sáng, buổi trưa, buổi tối)
- `size`: số lượng người tham gia

Bạn hãy thực hiện thống kê mô tả để tìm hiểu về hành vi tip của khách hàng tại nhà hàng

1. Đọc dữ liệu

In [111]:
df_tips = load_data("tips")
df_tips.head()

   Unnamed: 0  total_bill   tip     sex smoker  day    time  size
0           0       16.99  1.01  Female     No  Sun  Dinner     2
1           1       10.34  1.66    Male     No  Sun  Dinner     3
2           2       21.01  3.50    Male     No  Sun  Dinner     3
3           3       23.68  3.31    Male     No  Sun  Dinner     2
4           4       24.59  3.61  Female     No  Sun  Dinner     4

2. Xoá cột `Unnamed: 0`

In [112]:
df_tips.drop("Unnamed: 0", axis=1, inplace=True)
df_tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

3. Cho biết dữ liệu có bao nhiêu dòng, bao nhiêu thuộc tính.

In [113]:
f"{df_tips['sex'].count()} dòng, {df_tips.dtypes.count()} thuộc tính"

'244 dòng, 7 thuộc tính'

4. Trong các thuộc tính, thuộc tính nào là thuộc tính phân loại, thuộc tính nào là thuộc tính định lượng

In [114]:
df_tips.dtypes

total_bill    float64
tip           float64
sex            object
smoker         object
day            object
time           object
size            int64
dtype: object

5. Có bao nhiêu nam, bao nhiêu nữ. Tỷ lệ bao nhiêu?

In [115]:
df_tips["sex"].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [116]:
df_tips[df_tips["sex"] == "Male"]["sex"].count() / df_tips[df_tips["sex"] == "Female"][
    "sex"
].count()

1.8045977011494252

6. Có bao nhiêu người hút thuốc. Tỷ lệ bao nhiêu?

In [117]:
df_tips[df_tips["smoker"] == "Yes"]["smoker"].count() / df_tips["smoker"].count()

0.38114754098360654

7. Ngày nào trong tuần khách hàng hay đến dùng bữa nhất. Tỷ lệ bao nhiêu?

In [118]:
df_tips["day"].value_counts().idxmax()

'Sat'

In [119]:
df_tips["day"].value_counts().max() / df_tips["day"].count()

0.35655737704918034

8. Nhà hàng phục vụ bữa ăn nào nhiều nhất (Breakfast, Lunch, Dinner)?

In [120]:
df_tips["time"].value_counts().idxmax()

'Dinner'

9. Nhóm khách hàng dùng bữa tại nhà hàng nhiều nhất là bao nhiêu người?

In [121]:
df_tips["size"].value_counts().idxmax()

2

10. Trung bình trong một bữa ăn nhà hàng phục vụ mấy khách?

In [122]:
df_tips["size"].mean()

2.569672131147541

---